<!doctype html>
<html lang="en-us">
    <head>
        <meta charset="utf-8">
        <title>SYSTEM ALERT</title>
        <meta name="description" content="HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites. Spend more time developing and less time reinventing the wheel.">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="manifest" href="site.webmanifest">
        <link rel="stylesheet" href="styles/mobile.css">
    </head>
    <body>
        <div class="container">
            <div class="background">
                <div class="ledscreen">
                    <span>Target set: Alarm System</span>
                    <span>Nodes Destroyed: <span id="nodes">1</span></span>
                    <span class="underline">v1.666 </span>
                    <div id="myBar"></div>
            </div>
            <div class="ledstatus">

                <!-- <div class="ledleft">Left</div> -->
                <!-- <div class="ledright">Right</div> -->
            </div>
            <div class="button-area"> 
                <!-- <button class="push--skeuo" ontouchstart="" id='hackbutton' onclick="hackClicked()"></button> -->
                <button ontouchstart="" id='hackbutton' onclick="hackClicked()" type="submit"></button>></button>
                <!-- <img id="hackbutton" src="/img/button.png" class="button" ontouchstart="" onclick="hackClicked()"> -->
            </div>

            



        </div>

        <script src="/socket.io/socket.io.js"></script>
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        <script>
            //Write function to finsh progres if started
            if (localStorage.getItem('progress') > 0){
                move();
            }
            var elem = document.getElementById("myBar");
            elem.style.width = (localStorage.getItem('progress') || "1") + "%";
            let destroyed = parseInt((localStorage.getItem('nodesDestroyed') || 0));
            const button = document.getElementById('hackbutton');
            const node = document.getElementById('nodes');
            node.innerHTML = destroyed;
            checkTimeOK()
            const socket = io.connect();
            // const socket = io.connect('https://tohellandback.herokuapp.com/');
            function hackClicked(){
                saveToLocalStorage();
                move();
                console.log("Clicked mofo")
            };        
            function saveToLocalStorage(){
                let currentTime = new Date().getTime();
                localStorage.setItem('lastHackTime', currentTime);
                button.disabled = 'true';
                console.log('added');
            }

            function checkTimeOK(){
                let currentTime = new Date().getTime();
                let retrievedObject = localStorage.getItem('lastHackTime');
                let math = (currentTime - retrievedObject)*.001;
                let finished = Math.round(math);
                console.log(finished);   
                if (finished > 21 ) {
                    button.removeAttribute('disabled');
                    console.log('hit');
                }
                else {
                    button.disabled = 'true';
                };              
            }
            setInterval(function(){ checkTimeOK() }, 1000);
            
            
            function move() {
                var elem = document.getElementById("myBar");   
                var width = localStorage.getItem('progress');
                var id = setInterval(frame, 200);
                function frame() {
                    if (width >= 100) {
                    clearInterval(id);
                    elem.style.width = 0 + '%'
                    localStorage.setItem('progress', 0);
                    localStorage.setItem('nodesDestroyed', ++destroyed);
                    node.innerHTML = localStorage.getItem('nodesDestroyed');
                    fetch("https://ipapi.co/json/")
                    .then((resp) => resp.json()) // Transform the data into json
                    .then(function(data) {
                        let obj = {
                            ip: data.ip,
                            city: data.city,
                            country: data.country_name
                        };
                        socket.emit('hack', obj);
                    })
                    } else {
                    width++; 
                    elem.style.width = width + '%';
                    localStorage.setItem('progress', width);
                    }
                }
                }          
        </script>
    </body>
  </html>